{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "rules": {
    "max-len": [1, 150, 4],
    "no-param-reassign": "off",
    "radix": "off",
    "no-console": 1,
    "no-underscore-dangle": "off"
  }
}
